# Voix v4.1.0 configuration

# Core system settings
core:
  # The sacred path to the temporary directory where Voix performs its rites.
  sanctuary: /tmp
  # Trusted paths to seek out incantations (executables).
  paths:
    - /bin
    - /sbin
    - /usr/bin
    - /usr/sbin

# Access Control List
acl:
  # Ordain members of the 'wheel' group to perform any rite without a token of proof.
  group:
    wheel:
      - action: permit
        options: [trust]

  user:
    # Allow 'initiate' to restart a service as 'root' without a password.
    initiate:
      - action: permit
        target: root
        command: /usr/bin/systemctl
        args: [restart, nginx]

    # Shun 'exiled' users from performing any rite.
    exiled:
      - action: deny

# Security Policies
security:
  blocklist:
    - /bin/sh
